{% extends 'base.html' %}

<body>
    <h1>Please select and type from the following options.</h1>
    <h2>(symptoms from databases......TODO)</h2>
    <h3>(Please type your symptoms and separate them with comma)</h3>
    <form method="get" action="/symptoms/choice">
        <input type="text" name="symptoms_choice_user">
        <input type="submit" value="search">
    </form>
    {% block content %}
        <p>possible inputs</p>
        {% for i in feed_back_choice %}
            {{ i }}
        {% endfor %}
    {% endblock %}
</body>
