
{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">

</div>
{% if user.is_authenticated %}
  <h2> Hey {{ user.username }}! We missed you!</h2>
    {# Your Full name is {{ user.first_name }} {{ user.last_name }} #}
    <p>   See your profile here: <a href="/profile">Profile</a></p>
  <p><a href="{% url 'logout' %}">Log Out</a></p>
  <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
{% else %}
  <p>   You are not logged in! Please <a href="{% url 'login' %}">log In</a> or <a href="{% url 'signup' %}">signup</a> :P <p>

</div>


{% endif %}
{% endblock %}
