
{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
    <div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
        Why to choose Silk Road
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">

      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong>  This is a simple website which patients, MD students, and docters could benefit from. It just needs the symptoms and viola you get the probable diseases afterwards.
      </div>
    </div>
  </div>
    <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        How does it work?
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">

      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> In a nutshell, it has three parts; the back-end which deals with database and the things you can't see, the front-end which allows you to enjoy the user friendly scheme of the website and finally the machine learning part which helps with the disease prediction of your symptoms input.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        How to use the web?
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <strong>Simple!</strong> Just register in the website and tell us if you are a patient, Md student or a Doctor.
      </div>
    </div>
  </div>
  </div>
</div>
{% if user.is_authenticated %}
  Hi {{ user.username }}!
    {# Your Full name is {{ user.first_name }} {{ user.last_name }} #}
    <p>see your profile here <a href="/profile">Profile</a></p>
  <p><a href="{% url 'logout' %}">Log Out</a></p>
  <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
{% else %}
  <p>   You are not logged in! Please <a href="{% url 'login' %}">log In</a> or <a href="{% url 'signup' %}">signup</a> :P <p>

</div>


{% endif %}
{% endblock %}
