{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}

  <h2>Sign Up</h2>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">

      <input type="email" class="form-control" placeholder="Email Address" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div
    </div>
      <div class="mb-3">

    <input type="email" class="form-control" placeholder="Full name">
    <div
  </div>
  <div class="mb-3">

    <input type="password" class="form-control" placeholder="Password" id="exampleInputPassword1" aria-describedby="passwordHelpInline">
    <div class="mb-3">
      <input type="password" class="form-control" placeholder="Password Confirmation" id="exampleInputPassword1" aria-describedby="passwordHelpInline">

      <div
    <div class="mb-3">
      <input type="number" class="form-control"  placeholder="Phone Number" >
<br/>
      <p> Already have an account? <a href="../accounts/login/">Login </a> </p>
      <br/>
      <button type="submit" class="btn btn-outline-primary">Sign Up</button>

  </form>


{% endblock %}


